<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Solr permission check system</display-name>

    <!-- Permission check Servlet -->
    <servlet>
        <servlet-name>PermissionCheckServlet</servlet-name>
        <servlet-class>org.sakaiproject.search.solr.permission.servlet.PermissionCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionCheckServlet</servlet-name>
        <url-pattern>/permissioncheck</url-pattern>
    </servlet-mapping>

    <!-- Sakai Request Filter -->
    <filter>
        <filter-name>request-filter</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>request-filter</filter-name>
        <servlet-name>PermissionCheckServlet</servlet-name>
    </filter-mapping>
</web-app>
